layout pyenv 3.12.9

python -m pip install --upgrade pip
python -m pip install -r anidb-service/requirements.txt
python -m pip install -r anidb-service/requirements-dev.txt
python -m pip install -r plex-oauth/requirements.txt
python -m pip install -r trakt-mal-oauth/requirements.txt

# Install pre-commit hooks
pre-commit install --install-hooks