services:
  anidb-mirror:
    build: .
    container_name: anidb-mirror
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - anidb-data:/app/data
      - anidb-db:/app/database
      - ./seed_data:/app/seed_data:ro

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./maintenance.html:/var/www/html/maintenance.html # Mount the page here
      - caddy_data:/data
      - caddy_config:/config

volumes:
  anidb-data:
  anidb-db:
  caddy_data:
  caddy_config: