PARENTAL_PROXY_ENABLED=true
PARENTAL_PROXY_URLS=http://bing:bang@foo.bar.baz:1337
PARENTAL_PROXY_RETRY_COUNT=1
PARENTAL_PROXY_BAN_TTL_MINUTES=30
IMDB_ADMIN_TOKEN=replace-with-a-long-random-token
MIN_FREE_DISK_GB=30
DELETE_DATASET_FILES_AFTER_IMPORT=true
PARENTAL_FAILURE_RETENTION_DAYS=14
PARENTAL_FAILURE_MAX_MB=250
PARENTAL_FAILURE_CLEANUP_HOURS=24
CACHE_STATS_TTL_SECONDS=5
IMDB_UPSTREAM_CONCURRENCY=8
